.cart-container {
    padding: 20px;
  }
  
.product-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
  
.cart-container {
  padding: 20px;
}
  
.clear-cart-button {
  margin-top: 20px;
}